@import "../../../variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  #editProfile {
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    width: 40rem;
    border-radius: 0.5rem;
    z-index: 99999;
    .modal-close {
      cursor: pointer;
      border: none;
      font-weight: 800;
    }
    #Form-Profil {
      label {
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 0px;
        svg {
          color: $skillshaker-red-color;
          position: absolute;
        }

        .span-edit-profile {
          color: $skillshaker-red-color;
          margin-left: 20px;
          font-weight: 700;
        }
        input {
          font-size: 15px;
          padding: 10px;
          margin-top: 20px;
        }
        .edit-input {
          outline: none;
          border-radius: 8px;
        }
        .description-bloc {
          margin-top: 20px;
          outline: none;
          padding: 10px;
          resize: none;
          border-radius: 8px;
        }
      }
      .input-submit-edit {
        display: flex;
        justify-content: center;
        input[type="submit"] {
          padding: 5px 15px;
          border: 0 none;
          cursor: pointer;
          border-radius: 5px;
          font-weight: 800;
          font-size: 15px;
          background: $skillshaker-red-color;
          color: $light;
          border: 1px solid $skillshaker-red-color;
          &:hover {
            background: $light;
            color: $skillshaker-red-color;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
