@import "../../variables";

#SkillShaker-Auth {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 700;

  // Formulaire
  #SkillShaker-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 1.5em;
    }
    #Form-Register,
    #Form-Login,
    #Form-Forgotten-Password {
      max-width: 300px;
      width: 100%;
      .error {
        text-align: center;
        color: $skillshaker-red-color;
        margin-bottom: 25px;
      }
      div {
        label {
          display: flex;
          flex-direction: column;
          input {
            margin-top: 15px;
            padding: 15px 10px;
            border-radius: 8px;
            border: 1px solid $grey;
            margin-bottom: 20px;
            outline: none;
          }
        }
        input[type="submit"] {
          width: 100%;
          font-size: 1.3em;
          font-weight: 700;
          background-color: $blue;
          color: $light;
          border: none;
          margin-top: 30px;
          margin-bottom: 25px;
          padding: 10px;
          border-radius: 50px;
          cursor: pointer;
          box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }

    // Inscription-Connexion Bouton
    #Button-Auth {
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      button {
        border: none;
        width: 100%;
        font-size: 1.3em;
        font-weight: 700;
        background-color: $skillshaker-red-color;
        padding: 10px;
        margin-bottom: 25px;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
        a {
          color: $light;
        }
      }
      a {
        text-align: center;
        color: $dark;
        text-decoration: none;
        margin-bottom: 20px;
      }
    }
  }
}
