@import "../../../variables";

#SkillShaker-Header-Auth {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  img {
    width: 500px;
  }
}
