$dark-grey: #666;
$skillshaker-red-color: #b82222;
$blue: #0d86ca;
$light-blue: #2f80ed;
$dark: #000;
$tags: #219653;

// DARK MODE 
$dark-mode: #282c34;

// LIGHT MODE
$light-mode: #f7f7f7;
$grey: #cccccc;
$light: #fff;
