@import "./_variables.scss";
@font-face {
  font-family: "OpenSans";
  src: url(../public/assets/fonts/OpenSans.ttf) format("truetype");
}

#App {
  position: relative;
  min-height: 100vh;
  font-family: "OpenSans";
  padding: 0px 20px 0px 20px;
}

// DARK LIGHT MODE

#LightDarkMode {
  font-size: 25px;
  position: absolute;
  right: 30px;
  padding: 10px 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  .mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $skillshaker-red-color;
    font-size: 25px;
  }
}

#App.dark-mode {
  color: $grey;
  background-color: $dark-mode;
  #LightDarkMode {
    box-shadow: 0px 0px 13px -3px $light;
    border-left: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
    border-right: 1px solid $dark-grey;
    background-color: $dark-mode;
    .mode {
      color: $light;
    }
  }
  #SkillShaker-Auth {
    #SkillShaker-Form {
      #Form-Login,
      #Form-Register,
      #Form-Forgotten-Password {
        div {
          input[type="submit"] {
            box-shadow: 0px 0px 13px -3px $light;
          }
        }
      }
      #Button-Auth {
        button {
          box-shadow: 0px 0px 13px -3px $light;
        }
        a {
          color: $grey;
        }
      }
    }
  }
  #SkillShaker-HP {
    .HP {
      #messagesUsers {
        .message input {
          background-color: $dark-grey;
          border: 1px solid $dark;
          &::placeholder {
            color: $grey;
          }
        }
      }
      .profileSection,
      .messageUser,
      .tags,
      .conversationsSection {
        box-shadow: 0px 0px 13px -3px $light;
        border: 1px solid $dark;
        .list {
          ul {
            li {
              .profile {
                border-bottom: 1px solid $dark;
              }
            }
          }
        }
      }
      .profileSection {
        .background-profile {
          background-color: $dark-grey;
        }
        .profile.user {
          .picture {
            img {
              border: 1px solid $light;
            }
          }
          .profileIcon {
            svg {
              color: $dark;
            }
          }
        }

        .overlay {
          #editProfile {
            border: 1px solid $dark-grey;
            background-color: $dark-mode;
            #Form-Profil {
              label {
                .edit-input {
                  border: 1px solid $light;
                  background-color: $dark-grey;
                  color: $grey;
                }
                .description-bloc {
                  border: 1px solid $light;
                  background-color: $dark-grey;
                  color: $grey;
                }
              }
              .input-submit-edit {
                input[type="submit"] {
                  background: $skillshaker-red-color;
                  color: $grey;
                  border: 1px solid $skillshaker-red-color;
                  &:hover {
                    background: $dark-grey;
                    color: $dark;
                    border: 1px solid $dark;
                  }
                }
              }
            }
          }
        }
        .modal-close {
          background-color: $dark-mode;
          color: $skillshaker-red-color;
          &:hover {
            color: $light-mode;
          }
        }
      }
      .tags {
        .suggestedTags,
        .myTags {
          border-bottom: 1px solid $light;
        }
      }
    }
  }
}

#App.light-mode {
  background-color: $light-mode;
  #LightDarkMode {
    box-shadow: 0px 0px 13px -3px $dark;
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    background-color: $light-mode;
  }
  #SkillShaker-HP {
    .HP {
      #messagesUsers {
        .message input {
          background-color: transparent;
          border: 1px solid $grey;
          &::placeholder {
            color: $grey;
          }
        }
      }
      .profileSection,
      .messageUser,
      .tags,
      .conversationsSection {
        box-shadow: 0px 0px 13px -3px $dark;
        border: 1px solid $grey;
        .list {
          ul {
            li {
              .profile {
                border-bottom: 1px solid $dark;
              }
            }
          }
        }
      }
      .profileSection {
        .background-profile {
          background-color: $skillshaker-red-color;
        }
        .profile.user {
          .picture {
            img {
              border: 1px solid $light;
            }
          }
          .profileIcon {
            svg {
              color: $light;
            }
          }
        }
        .overlay {
          #editProfile {
            border: 1px solid $grey;
            background-color: $light-mode;
            #Form-Profil {
              label {
                .edit-input {
                  border: 1px solid $dark;
                  &::placeholder {
                    color: $grey;
                  }
                  &:focus {
                    border-color: $skillshaker-red-color;
                    box-shadow: 0 0 5px $skillshaker-red-color;
                  }
                }
                .description-bloc {
                  border: 1px solid $dark;
                  &:focus {
                    border-color: $skillshaker-red-color;
                    box-shadow: 0 0 5px $skillshaker-red-color;
                  }
                }
              }
            }
            .modal-close {
              background-color: $light-mode;
              color: $skillshaker-red-color;
              &:hover {
                color: $dark;
              }
            }
          }
        }
        .list {
          ul {
            li {
              .profile {
                border-bottom: 1px solid $dark;
              }
            }
          }
        }
      }
      .tags {
        .suggestedTags,
        .myTags {
          border-bottom: 1px solid $dark;
        }
      }
    }
  }
}
